################################
# Node
################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

################################
# Environment
################################
.env
.env.*

################################
# Python / AI (IGNORE PYTHON ONLY)
################################
backend/.venv/
backend/venv/

# ignore python files only
backend/src/ai/*.py
backend/src/ai/__pycache__/

# ignore model files anywhere
*.h5
*.pt
*.pth
*.onnx
*.pickle
*.pkl

################################
# Runtime uploads (patients data)
################################
backend/uploads/

################################
# Python cache
################################
__pycache__/
*.pyc

################################
# OS / IDE
################################
.DS_Store
Thumbs.db
.vscode/
.idea/

################################
# Logs
################################
logs/
*.log

################################
# ALLOW JS AI INTEGRATION FILES
################################
!backend/src/ai/*.js
